@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  z-index: 1;
  position: fixed;
}

main {
  position: relative;
  top: 68px;
}

footer {
  position: relative;
  top: 68px;
}

.slick-slide > div {
  margin: 10px;
}
